header(role="banner")
  .logo DO OPENSOURCE
  nav
    a(href="#intro" du-smooth-scroll du-scrollspy) Main
    a(href="#footer" du-smooth-scroll du-scrollspy) Submain
    a(href="#slider" du-smooth-scroll du-scrollspy) LoveIsLove
    a(href="#section" du-smooth-scroll du-scrollspy) AllYouNeed

#intro
#footer
#slider
#section
  // {{ promo.foo }}
