@font-face {
    font-family: HelveticaNeueBold;
    src: url(/fonts/HelveticaNeueBold.otf);
}
@font-face {
    font-family: HelveticaNeueThin;
    src: url(/fonts/HelveticaNeueThin.otf);
}
@font-face {
    font-family: OpenSans;
    src: url(/fonts/OpenSans.otf);
}
